
@media (max-width: 930px) {
    header{
        font-size: 1em;
    }

}


@media (max-width: 800px) {
    .menu-mobile{
        position: relative;
        top: -10px;
    }

    nav ul li{
        margin-right: 30px;
    }

}

@media (max-width:570px) {
    body{
        font-size: 1em;
    }
    .sect-3 .lang-box{
        font-size: 1.7em;
    }

    .projeto-box a{
        width: 20%;
    }

    .sect-1 h1{
        font-size: 1.2em;
    }
}

@media (max-width:380px) {
    .sect-3 .lang-box{
        font-size: 1em;
        margin: 5px;
    }

    .projeto-box a{
        width: 20%;
    }

    .sect-1 h1{
        font-size: 1.2em;
    }
    .tenor-gif-embed{
        display: none;
    }
}
