/*
    SEÇOES: #0D0D0D, #E9E9F2
    FONTES: #E9E9F2 
    DESTACAR: #777DF2

*/
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #0D0D0D;
    color: #E9E9F2;
}

html,body{
    overflow-x: hidden;
}

section{
    padding: 3em 5em 3em 5em;
    font-size: 1.20em;
}

hr{
    width: 35%;
    padding: 2px;
    margin: auto;
    margin-bottom: 50px;
    opacity: 100%;
    border: none;
    
}

.destaque{
    color: #777DF2;
}

#particles-js{
    position: fixed;
    width: 100%;
    z-index: -1;

}


/*SEÇÃO 1*/
.sect-1{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
}

.sect-1 h1{
    width: 600px;

}

.sect-1.texto{
    display: flex;
    align-items: center;
    justify-content: center;

}

/***************************************************
SEÇÃO 2*/

.white{
    background-color: #E9E9F2;
    color: black;

}


.sect-2 hr{
    background-color: rgb(0, 0, 0);
}

/*********************************************************************
SEÇÃO 3*/

.sect-3 hr{
    background-color: white;
}

.sect-3 .lang-box{
    border: 2px solid white;
    border-radius: 20px;
    padding: 15px;
    font-size: 5em;

    margin: 10px;
}