/*
    SEÇOES: #0D0D0D, #E9E9F2
    FONTES: #E9E9F2 
    DESTACAR: #777DF2

*/
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #0D0D0D;
    color: #E9E9F2;
}

html,body{
    overflow-x: hidden;
}

section{
    padding: 3em 5em 3em 5em;
    font-size: 1.20em;
}

hr{
    width: 25%;
    padding: 1px;
    margin: auto;
    margin-bottom: 4em;
    opacity: 100%;
    border: none;
    
}

.destaque{
    color: #777DF2;
}

#particles-js{
    position: fixed;
    width: 100%;
    z-index: -1;

}


/*HOME 1*/
.sect-1{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
}

.sect-1 h1{
    width: 600px;

}

.sect-1.texto{
    display: flex;
    align-items: center;
    justify-content: center;

}

/***************************************************
SOBRE MIM 2*/

.white{
    background-color: #E9E9F2;
    color: black;

}

.white hr{
    background-color: #000000;
}

.sect-2 hr{
    background-color: rgb(0, 0, 0);
}

/*********************************************************************
SKILLS 3*/

.sect-3 hr{
    background-color: white;
}

.sect-3 .lang-box{
    border: 2px solid white;
    border-radius: 20px;
    padding: 15px;
    font-size: 5em;
    cursor: pointer;
    margin: 10px;
}

.quadro{
    display: none;
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 35px;
}

/*********************************************
PROJETOS*/
.projeto-box{
    width: 300px;
    height: 450px;
    padding: 14px;
    font-size:0.8em ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 1em rgb(124, 123, 123);

}